/* Error: expected "{".
 *     ,
 * 388 | >>>>>>> db298fe75fabf0be22b13dc9ee6800c44731a78c
 *     |                                                 ^
 *     '
 *   output.scss 388:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 388 \2502  >>>>>>> db298fe75fabf0be22b13dc9ee6800c44731a78c\d\a     \2502                                                  ^\a     \2575 \a   output.scss 388:49  root stylesheet';
}
